/* .menus{
    margin-top: 10%;
    width:20%;
    margin-left:5%;
    margin-right:6%;
    
    
   
} */
.flexes{
    display: flex;
    justify-content: space-evenly;
}

.gt{
    background-color:#E6E294;
    border: none;
    outline: none;
    padding: 2%;
    border-radius: 10px;
    border: 2px black solid;
    margin-top: 4%;
    
    /* width: 500px; */

}

.newgab{
        width:70%;
        
        
        
        
        
    
}

.ng{
    background-color: #E6E294;
    border: none;
    outline: none;
    padding-top:1%;
    border-radius: 10px;
    border: 2px black solid;
    margin-top: 3%;
    
    height:150px;
    /* width: 500px; */

}

.bnn{
    border: none;
    background-color: black;
    outline:none;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    font-size:1.5rem;
    border-radius: 15px;
    margin-left:80%;
    margin-top: 2%;
    cursor: pointer;
    float: left;
    
}




